<p>
  {% set meta_path = page.path~src %}

  {% if not meta_path is ending_with(".avif") %}
    {% set meta = get_image_metadata(path=src) %}
  {% endif %}

  <img src="{{ src }}"
    {% if alt %}
        alt="{{ alt }}"
    {% endif %}

    {% if title %}
        title="{{ title }}"
    {% endif %}

    {% if width %}
        width="{{ width }}"
    {% elif meta.width %}
        width="{{ meta.width }}"
    {% endif %}

    {% if height %}
        height ="{{ height }}"
    {% elif meta.height %}
        height="{{ meta.height }}"
    {% endif %} 

    loading="lazy"
  />
</p>
