{% extends "index.html" %}

{% block content %}

<div class="container">
  <p style="font-family: monospace; white-space:pre;">
          _
          \`*-.
           )  _`-.
          .  : `. .
          : _   '  \
          ; *` _.   `*-._
          `-.-'          `-.
            ;       `       `.
            :.       .        \
            . \  .   :   .-'   .
            '  `+.;  ;  '      :
            :  '  |    ;       ;-.
            ; '   : :`-:     _.`* ;
         .*' /  .*' ; .*`- +'  `*'
         `*-*   `*-*  `*-*'
        [bug] 
  </p>
  <h1 style="text-align: center">404</h1>
  <h2 style="text-align: center"><strong>No hay, no existe :/ </strong></h2>
</div>

{% endblock content %}
