<!DOCTYPE html>
<html lang="{% if lang and lang == "en" %}en{% else %}es{% endif %}">
  <head>
    {% block css %}
    <link rel="preload" href="{{ get_url(path="site.css", trailing_slash=false) }}" as="style">
    <link rel="stylesheet" href="{{ get_url(path="site.css", trailing_slash=false) }}">
    {% endblock css %}

    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <!-- Enable responsiveness on mobile devices-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}{{ config.title }}{% endblock title %}</title>

    <link rel="me" href="https://fosstodon.org/@mucinoab">

    <!-- SEO -->
    <meta name="description" content="{% block description %}{{ config.description | default(value="Software developer. Personal website and blog.") }}{% endblock description %}">
    <meta name="author" content="{{ config.extra.author }}">

    <!-- Open Graph -->
    <meta property="og:type" content="{% block og_type %}website{% endblock og_type %}">
    <meta property="og:url" content="{{ current_url | default(value=config.base_url) }}">
    <meta property="og:title" content="{% block og_title %}{{ config.title }}{% endblock og_title %}">
    <meta property="og:description" content="{% block og_description %}{{ config.description | default(value="Software developer. Personal website and blog.") }}{% endblock og_description %}">
    <meta property="og:site_name" content="{{ config.title }}">

    {% if config.generate_feeds %}
    <link rel="alternate" type={% if config.feed_filenames[0] == "atom.xml" %}"application/atom+xml"{% else %}"application/rss+xml"{% endif %} title="RSS" href="{{ get_url(path=config.feed_filenames[0]) | safe }}">
    {% endif %}

    {% block js %}
    {% endblock js %}

    {% block extra_head %}
    {% endblock extra_head %}
  </head>

  <body>
    <div class="container">
      <input type="checkbox" id="mobile-menu-toggle" class="mobile-menu-toggle">

      <div id="mobile-navbar" class="mobile-navbar">
        <div class="mobile-header-logo">
          {% if lang and lang == "en" %}
            <a href="/en" class="logo">{{ config.extra.even_title }} </a>
          {% else %}
            <a href="/" class="logo">{{ config.extra.even_title }} </a>
          {% endif %}
          </div>
          <label for="mobile-menu-toggle" class="mobile-navbar-icon">
            <span></span>
            <span></span>
            <span></span>
          </label>
        </div>

        <nav id="mobile-menu" class="mobile-menu">
          <ul class="mobile-menu-list">
            {% if lang and lang == "en" %}
              {% for item in config.extra.even_menu_en %}
                <li class="mobile-menu-item">
                  <a href="{{ item.url | replace(from="$BASE_URL", to=config.base_url) }}">
                    {{ item.name }}
                  </a>
                </li>
              {% endfor %}
            {% else %}
              {% for item in config.extra.even_menu_es %}
                <li class="mobile-menu-item">
                  <a href="{{ item.url | replace(from="$BASE_URL", to=config.base_url) }}">
                    {{ item.name }}
                  </a>
                </li>
              {% endfor %}
            {% endif %}
          </ul>
        </nav>

      <header id="header">
        <div class="logo">
          {% if lang and lang == "en" %}
            <a href="/en" class="logo">{{ config.extra.even_title }} </a></div>
          {% else %}
            <a href="/" class="logo">{{ config.extra.even_title }} </a></div>
          {% endif %}
        <nav class="menu">
          <ul>
            {% if lang and lang == "en" %}
              {% for item in config.extra.even_menu_en %}
                <li>
                  <a href="{{ item.url | replace(from="$BASE_URL", to=config.base_url) }}">
                    {{ item.name }}
                  </a>
                </li>
              {% endfor %}
            {% else %}
              {% for item in config.extra.even_menu_es %}
                <li>
                  <a href="{{ item.url | replace(from="$BASE_URL", to=config.base_url) }}">
                    {{ item.name }}
                  </a>
                </li>
                {% endfor %}
            {% endif %}
          </ul>
        </nav>
      </header>

      <main>
        <div class="content" id="mobile-panel">
          {% block content %}
          <div class="posts">
            {% for page in paginator.pages %}
            <article class="post">
              {{<post_title page/>}}
              <div class="post__summary">
                {{ page.summary | safe }}
              </div>
              <div class="read-more">
                <a href="{{ page.permalink }}">
                {% if lang and lang == "en" %}
                  Keep reading...
                {% else %}
                  Leer más...
                {% endif %}
                </a>
              </div>
            </article>
            {% endfor %}
          </div>
          <nav class="pagination">
            {% if paginator.previous %}
            <a class="previous" href="{{ paginator.previous }}">‹ Anterior</a>
            {% endif %}
            {% if paginator.next %}
            <a class="next" href="{{ paginator.next }}">Siguiente ›</a>
            {% endif %}
          </nav>
          {% endblock content %}
        </div>
      </main>

      {% block footer %}
      {% endblock footer %}
    </div>

    {% block js_body %}
    {% endblock js_body %}
  </body>

</html>
